.search_input {
  height: 100rpx;
  padding: 10rpx;
  background-color: "#E2492F";
}
.search_input navigator {
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #E2492F;
  border-radius: 15rpx;
}
